[submodule "home/tmux/plugins/tpm"]
	path = home/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "home/tmux/plugins/tmux-resurrect"]
	path = home/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
[submodule "home/tmux/plugins/tmux-continuum"]
	path = home/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
