[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
	fetchRecurseSubmodules = false
[submodule "config/tmux/plugins/tmux-resurrect"]
	path = config/tmux/plugins/tmux-resurrect
	url = https://github.com/tmux-plugins/tmux-resurrect
	fetchRecurseSubmodules = false
[submodule "config/tmux/plugins/tmux-continuum"]
	path = config/tmux/plugins/tmux-continuum
	url = https://github.com/tmux-plugins/tmux-continuum
[submodule "config/alacritty/themes"]
	path = config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme.git
