@import "catppuccin/themes/mocha.css";
#waybar.top {
  background: none;
}
#waybar.top > box.horizontal {
  background: @crust;
  box-shadow: 0 0 4pt @crust;
  border-radius: 12pt;
  margin: 6pt;
  padding: 2pt;
}

#custom-rofi {
  margin-left: 7pt;
  padding: 0 6pt;
  border-radius: 999px;
  color: @sky;
  font-size: 12pt;
}

#workspaces {
  margin-left: 12pt;
}
#workspaces button {
  color: @surface2;
}
#workspaces button:not(:first-child) {
  margin-left: 2pt;
}
#workspaces button.visible {
  color: @blue;
}
#workspaces button.active {
  color: @red;
}
#workspaces button:hover, #workspaces button:focus {
  background: none;
  border-color: transparent;
  box-shadow: none;
}
#workspaces button:hover:not(.active):not(.visible), #workspaces button:focus:not(.active):not(.visible) {
  color: @overlay2;
}

#mpris {
  background: @base;
  color: @green;
  border-radius: 12pt;
  margin-left: 15pt;
  padding: 0 8pt;
}

#window {
  margin-left: 15pt;
  margin-right: 20pt;
}

#cpu {
  color: @maroon;
  margin-right: 12pt;
}

#memory {
  color: @peach;
  margin-right: 12pt;
}

#network {
  color: @teal;
  margin-right: 12pt;
}

#network.disconnected,
#network.disabled {
  color: @overlay1;
}

#tray {
  margin-right: 10pt;
}
#tray menu {
  background: @base;
  padding: 2pt;
}
#tray menu * {
  margin: 2pt;
}
#tray menu check {
  margin-right: 4pt;
}

@keyframes blink {
  to {
    background-color: alpha(@base, 0.5);
    color: @text;
  }
}
#backlight {
  color: @mauve;
  margin-right: 10pt;
}

#pulseaudio {
  color: @sapphire;
  margin-right: 10pt;
}

#battery {
  color: @yellow;
  margin-right: 15pt;
}

#battery.full,
#battery.good,
#battery.charging,
#battery.plugged {
  color: @green;
}

#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: steps(12);
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#custom-color-picker {
  margin-right: 18pt;
  padding: 0 6pt;
  border-radius: 999px;
  color: @mauve;
  font-size: 10pt;
}

#custom-power {
  margin-right: 11pt;
  padding: 0 6pt;
  border-radius: 999px;
  color: @red;
  font-size: 10pt;
}

* {
  margin: 0;
  padding: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 8.5pt;
  font-weight: 800;
  transition-property: background;
  transition-duration: 0.5s;
}

tooltip {
  background: @crust;
  color: @text;
  border-radius: 5pt;
}
